<div class="card align-items-center card-body mx-auto">
  <div class="card-body align-items-center">
    <h3 class="card-title text-center">
      #{{ pokemon.id }} - {{ pokemon.name | primeiraLetraMaiuscula }}
    </h3>
    <div class="centralizar-imagem">
      <img
        [src]="urlFoto"
        alt="Foto do pokémon {{ pokemon.name | primeiraLetraMaiuscula }}"
      />
    </div>
    <p class="text-center">
      Tipos:
      <span *ngFor="let type of pokemon.types">{{
        type | primeiraLetraMaiuscula
      }}</span>
    </p>
    <app-tabela-dados-pokemon [pokemon]="pokemon"></app-tabela-dados-pokemon>
  </div>
</div>

<botao-flutuante
  [tipo]="tipo"
  (onClickSalvarPokemon)="salvarPokemon()"
  (onClickDeletarPokemon)="modalExcluir()"
></botao-flutuante>

<app-modal-padrao *ngIf="isExcluir"
  title="Atenção"
  text="Tem certeza que deseja excluir esse pokémon da bag?"
  buttonAction="Deletar"
  (onAction)="deletarPokemon()"
  (onClose)="modalExcluir()"
></app-modal-padrao>
