<nav class="navbar header fixed-top">
    <div class="row container-fluid">
      <div class="col">
        <img [src]="caminhoImagem" [alt]="titulo" class="d-inline-block icone">
      </div>
      <div class="col text-center">
        <span class="navbar-text titulo">
          {{titulo}}
        </span>
      </div>
      <div class="col text-end">
        <div class="sair" *ngIf="!isTelaSemBotaoSair" (click)="sair()">
          <span class="navbar-text titulo">Sair </span>
          <i class="bi bi-box-arrow-in-right titulo"></i>
        </div>
      </div>
    </div>
</nav>
