.card {
  margin: 20px;
  border-radius: 14px;
  height: 140px;
  padding: 10px;
}

.titulo {
  font-size: 16px;
  font-weight: bold;
  color:black;
}

.descricao {
  font-size: 14px;
  color:black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.data {
  font-size: 12px;
  color:black;
}

.NENHUM {
  border-left: 6px solid #A9A9A9;
}

.QUERO_TER {
  border-left: 6px solid #8A0808;
}

.JA_TENHO {
  border-left: 6px solid #007bff;
}

.ESTOU_PROCURANDO {
  border-left: 6px solid #006400;
}
