<div class="form card">
  <div class="card-body">
    <form [formGroup]="formCadastro" (ngSubmit)="salvar()">
      <input type="text" class="form-control input" placeholder="Nome *" aria-label="Nome"
        aria-describedby="basic-addon1" formControlName="nome" name="nome">
      <textarea rows="3" type="text" class="form-control input descricao" placeholder="Descrição" aria-label="Descrição"
        aria-describedby="basic-addon1" formControlName="descricao" name="descricao" maxlength="300"></textarea>
      <select class="form-select input" aria-label="Tipo da bag" formControlName="tipo">
        <option disabled selected value="">Selecione o tipo da Bag * </option>
        <option value="NENHUM">Nenhum</option>
        <option value="QUERO_TER">Quero ter</option>
        <option value="JA_TENHO">Já tenho</option>
        <option value="ESTOU_PROCURANDO">Estou procurando</option>
      </select>

      <alerta-error *ngIf="!formPreenchido" mensagem="Campos obrigatorios não preenchidos!"></alerta-error>
      <alerta-error *ngIf="!formPreenchidoSemEspaco"
        mensagem="Campos obrigatorios preenchidos com espaço!"></alerta-error>
      <alerta-error *ngIf="formCadastro.controls['nome'].errors?.['minlength']"
        mensagem="Campo nome é maior que 4 dígitos!"></alerta-error>

      <div class="botoes">
        <button type="submit" class="btn btn-danger" [disabled]="formCadastro.invalid">Cadastrar</button>
      </div>
    </form>
  </div>
</div>
