<div class="card" style="width: 18rem;">
  <div *ngIf="pokemon?.id; else isPokemonApi">
    <img [src]="pokemon?.foto" class="card-img-top foto" alt="Imagem do pokemon: {{pokemon?.nome}}">
    <div class="card-body">
      <p class="card-title text-body-secondary text-center">#{{pokemon?.id}} - {{pokemon?.nome}}</p>
    </div>
  </div>
  <ng-template #isPokemonApi>
    <img [src]="urlFoto" class="card-img-top foto" alt="Imagem do pokemon: {{pokemonApi?.name}}">
    <div class="card-body">
      <p class="card-title text-body-secondary text-center">#{{id}} - {{pokemonApi?.name}}</p>
    </div>
  </ng-template>
</div>
