<div class="form card">
  <div class="card-body">
    <form  [formGroup]="formCadastro" (ngSubmit)="cadastrar()">
      <input type="text" class="form-control input" placeholder="Nome *" aria-label="Nome" aria-describedby="basic-addon1" formControlName="nome" name="nome">
      <input type="text" class="form-control input" placeholder="E-mail *" aria-label="E-mail" aria-describedby="basic-addon1" formControlName="email" name="email">
      <input type="text" class="form-control input" placeholder="Senha *" aria-label="Senha" aria-describedby="basic-addon1" formControlName="senha" name="senha" type="password">

      <alerta-error *ngIf="!formPreenchido" mensagem="Campos obrigatorios não preenchidos!" ></alerta-error>
      <alerta-error *ngIf="!formPreenchidoSemEspaco" mensagem="Campos obrigatorios preenchidos com espaço!" ></alerta-error>
      <alerta-error *ngIf="formCadastro.controls['email'].errors?.['email']" mensagem="Campo e-mail inválido!"></alerta-error>
      <alerta-error *ngIf="formCadastro.controls['nome'].errors?.['minlength']" mensagem="Campo nome é maior que 4 dígitos!"></alerta-error>
      <alerta-error *ngIf="formCadastro.controls['senha'].errors?.['minlength']" mensagem="Campo senha é maior que 4 dígitos!"></alerta-error>

      <div class="botoes">
        <button type="submit" class="btn btn-danger" [disabled]="formCadastro.invalid">Cadastrar</button>
      </div>
    </form>
  </div>
</div>
