<div
  class="card align-items-center card-body"
  [ngClass]="!listaPokemon.length ? 'card-lista-vazia' : ''"
>
  <div class="input-group mb-3 input">
    <input
      type="text"
      class="form-control"
      placeholder="Digite nome do pokémon"
      aria-label="Filtro"
      [(ngModel)]="filtro"
      name="filtro"
      (ngModelChange)="verificarFiltro()"
    />
    <button class="btn btn-outline-secondary" type="button" id="button-addon" (click)="buscarPorNome()">
      Pesquisar por nome
    </button>
  </div>
  <div *ngIf="listaPokemonAux.length; else listaPokemonVazia">
    <div class="wrapper">
      <div *ngFor="let pokemon of listaPokemonAux">
        <app-card-pokemon [pokemonApi]="pokemon" [routerLink]="['/', idBolsa, 'detalhe', 'pokemon', pokemon.name]" [queryParams]="{ isEdit: true }"></app-card-pokemon>
      </div>
    </div>
    <div class="footer">
      <button (click)="mudarPagina(false)" [disabled]="!urlAnterior"><< Anterior</button>
      <button (click)="mudarPagina(true)" [disabled]="!urlProximo">Próximo >></button>
    </div>
  </div>

  <ng-template #listaPokemonVazia>
    <aviso-lista-vazia
      [css]="true"
      mensagem="Nenhum pokémon encontrado!"
    ></aviso-lista-vazia>
  </ng-template>
</div>
