<div class="card align-items-center card-body" [ngClass]="!listaPokemon.length ? 'card-lista-vazia' : ''">
  <div>
    <input
      type="text"
      class="form-control input"
      placeholder="Digite nome do pokémon"
      aria-label="Filtro"
      aria-describedby="basic-addon1"
      [(ngModel)]="filtro"
      name="filtro"
      [hidden]="!listaPokemon.length"
    />
  </div>
  <div
    class="d-flex justify-content-start flex-wrap"
    *ngIf="listaPokemonAux.length; else listaPokemonVazia"
  >
    <div *ngFor="let pokemon of listaPokemonAux">
      <app-card-pokemon
        [pokemonApi]="pokemon"
        class="d-inline-flex"
      ></app-card-pokemon>
    </div>
  </div>

  <ng-template #listaPokemonVazia>
    <aviso-lista-vazia
      [css]="true"
      mensagem="Nenhum pokémon encontrado!"
    ></aviso-lista-vazia>
  </ng-template>
</div>
