<div
  class="card align-items-center"
  *ngIf="listaPokemon.length; else listaPokemonVazia"
>
  <div>
    <input
      type="text"
      class="form-control input"
      placeholder="Digite nome do pokémon"
      aria-label="Filtro"
      aria-describedby="basic-addon1"
      [(ngModel)]="filtro"
      name="filtro"
    />
  </div>
  <div class="card-body d-flex justify-content-start flex-wrap">
    <div *ngFor="let pokemon of displayedData | filtroPorNome : filtro">
      <app-card-pokemon
        [pokemon]="pokemon"
        class="d-inline-flex"
      ></app-card-pokemon>
    </div>
  </div>

  <app-pagination
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    (pageChanged)="onPageChanged($event)"
  ></app-pagination>
</div>

<ng-template #listaPokemonVazia>
  <aviso-lista-vazia mensagem="Nenhum pokémon encontrado!"></aviso-lista-vazia>
</ng-template>
