<app-card-detalhes [bolsa]="bolsa"></app-card-detalhes>
<div class="botoes">
  <button
    type="button"
    class="btn btn-primary botao"
    [routerLink]="['/bolsa/editar', bolsa.id]"
  >
    Editar
  </button>
  <button
    type="button"
    class="btn btn-danger botao"
    (click)="modalExcluir()"
  >
    Excluir
  </button>
</div>

<app-card-list-pokemon [listaPokemon]="bolsa.pokemon" [idBolsa]="bolsa.id"></app-card-list-pokemon>

<botao-flutuante [tipo]="tipo" [id]="bolsa.id"></botao-flutuante>

<app-modal-padrao *ngIf="isExcluir"
  title="Deseja excluir essa bag?"
  text="Ao clicar em deletar sua bag será excluida."
  buttonAction="Deletar"
  (onAction)="deletarBolsa()"
  (onClose)="modalExcluir()"
></app-modal-padrao>
